.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    font-family:'Times New Roman', Times, serif;
    outline-color: rgb(255, 255, 255);
    outline-width: 2px;
    outline-style: solid;
}

.button1 {
    background-color: #0ff20f;
    color: black;
} /* THIS BE BUTTON */
.button2 {
    background-color: #ff0000;
    color: black;
} /* ALSO BUTON */
.button3 {
    background-color: #fff700;
    color: black;
}
.button4 {
    background-color:aqua;
    color: black
}

.button5 {
    background-color: black;
    color: white;
}

.button7 {
    background-color: antiquewhite;
    color: black;
}

.movedown {
    background-color:blueviolet;
}

.huhugugu {
    transform: translateY(1000px);
}

#imagebutton {
    width: 200px;
    height: 50px;
}

.hamborgor {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 15;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
}

.hmbrgricn {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: rgb(230, 230, 230);
    transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
}

.hmbrgricn1 {
    transform: translateY(-10px);
    transition-delay: 100ms;
}

.hmbrgricn3 {
    transform: translateY(10px);
    transition-delay: 250ms;
}

.hamborgor.open .hmbrgricn1 {
    transform: rotate(40deg);
}

.hamborgor.open .hmbrgricn2 {
    opacity: 0;
}

.hamborgor.open .hmbrgricn3 {
    transform: rotate(-40deg);
}

.active {
    transform: translateY(250px);
}
.hello {
    background-color: black;
    color: white;
}
.activate {
    text-transform: lowercase;
}
.blurry {
    background-color: blue;
}
.down {
    transform: translateY(50px);
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(255, 255, 255);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255)
}

a {
    color: white;
}
img {
    width: 200px;
    height: 150px;
}

#geog {
    width:300px;
    height:100px;
}

#tigamap {
    width: 500px;
    height: 600px
}

.sidebar {
    position: fixed;
    width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    transform: translateX(-100vw);

    z-index: 10;
    transition: transform 0.6s cubic-bezier(.76,0,.41,1);
}

.sidebar a {
    padding-left: 20px;
    padding-top: 5px;
    color: white;
    display: block;
}

.sidebar.open {
    transform: none;
}


@media screen and (min-width: 1000px) {
    .sidebar {
        width: 500px;
        transform: translateX(-500px);
    }
}